<section class="article-showcase" aria-labelledby="article-showcase-title">
  <div class="container">
    <div class="section-head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="article-showcase-title">Блок с товаром</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <ul class="article-showcase__list list-reset">
      <li>
        <a class="article-showcase__card" href="#">
          <span class="article-showcase__media">
            <picture>
              <source srcset="img/home/product-bath-ventilation.webp" type="image/webp">
              <img src="img/home/product-bath-ventilation.png" width="300" height="250" loading="lazy" alt="">
            </picture>
          </span>
          <span class="article-showcase__tag">Вентиляция для бани</span>
          <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
        </a>
      </li>
      <li>
        <a class="article-showcase__card article-showcase__card--featured" href="#">
          <span class="article-showcase__media">
            <picture>
              <source srcset="img/home/product-chimney.webp" type="image/webp">
              <img src="img/home/product-chimney.png" width="300" height="250" loading="lazy" alt="">
            </picture>
          </span>
          <span class="article-showcase__tag">Вентиляция для бани</span>
          <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
        </a>
      </li>
      <li>
        <a class="article-showcase__card" href="#">
          <span class="article-showcase__media">
            <picture>
              <source srcset="img/home/product-bath-stove.webp" type="image/webp">
              <img src="img/home/product-bath-stove.png" width="300" height="250" loading="lazy" alt="">
            </picture>
          </span>
          <span class="article-showcase__tag">Вентиляция для бани</span>
          <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
        </a>
      </li>
      <li>
        <a class="article-showcase__card" href="#">
          <span class="article-showcase__media">
            <picture>
              <source srcset="img/home/product-home-stove.webp" type="image/webp">
              <img src="img/home/product-home-stove.png" width="300" height="250" loading="lazy" alt="">
            </picture>
          </span>
          <span class="article-showcase__tag">Вентиляция для бани</span>
          <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
        </a>
      </li>
    </ul>
  </div>
</section>
